// newtab online client configuration template
// Set relevant configuration values and rename to config.js

let config = {
    serverUrl : 'http://localhost:8080/api/v1',
    tokenHeaderName : 'X-NTS-Token',
    tokenCookieName : 'NTS-Token',
    languageCookieName : 'NTC-Lang',
    defaults : {
        imageBaseSize : 110,    /* max size = 120 */
        tileBackgroundColor : '#FFF'
    }
};

export { config };