@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/OpenSans-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/OpenSans-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #0D012A;
    padding: 60px;
    padding-top: 50px;
    color: #FFF;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
    position: relative;
}

h1 {
    font-weight: 300;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
}

h2 {
    font-weight: 300;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.icon {
    width: 32px;
    height: 32px;
}

#user {
    position: absolute;
    top: 60px;
    right: 40px;
    width: 200px;
    z-index: 20;
    cursor: pointer;
}

#user #userName {
    position: absolute;
    top: 0px;
    right: 52px;
    font-size: 24px;
    font-weight: 300;
    color: #EEE;
}

#user .userName-dark {
    color: #333 !important;
}

#user #navigation {
    position: absolute;
    top: 2px;
    right: 0px;
}

#menu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 280px;
    background-color: #FFF;
    color: #333;
    padding: 40px;
    padding-top: 120px;
    z-index: 10;
}

#userMenu {
    text-align: right;
}

#userMenu ul {
    margin: 0;
    padding: 0;
}

#userMenu li {
    list-style-type: none;
    padding: 0;
    margin: 5px 0px;
}

#language {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#footer {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#gridContainer {
    width: 100%;
}

.grid {
    width: 430px;
    margin-bottom: 40px;
    float: left;
    vertical-align: top;
}

.grid .grid-item {
    width: 120px;
    height: 120px !important;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    white-space: normal;
}

.grid .grid-item-width2 {
    width: 250px;
}

.grid .grid-item-height2 {
    height: 250px !important;
}

.grid a {
    color: #EEE;
    text-decoration: none;
}

.tileText {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.tileText-white {
    color: #EEE;
    text-shadow: 1px 1px #333;
}

.tileText-black {
    color: #000;
    text-shadow: 1px 1px #DDD;
}

.tileImage {
    position: absolute;
    top: 50%;
    left: 50%;
}

.messageFlap {
    position: fixed;
    width: 100%;
    top: -30px;
    left: 0px;
    text-align: center;
}

.messageFlap-slide {
    transition: 1s;
    top: 8px;
}

.message {
    padding: 8px 30px;
    background-color: #66C;
    color: #000;
    font-weight: 700;
}

.errorMessage {
    background-color: #C66;
}

